<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layouts/layout-admin}">
<head>
    <title>Banques</title>
</head>
<body>
<div data-layout-fragment="content">
    <!-- start: Content -->
    <div id="content" class="span10">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a data-th-href="@{/admin/}">Administration</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a data-th-href="@{/admin/banques}">Banques</a></li>
        </ul>


        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon building"></i><span class="break"></span>Ajouter une banque</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                    </div>
                </div>
                <div class="alert alert-info text-center" data-th-if="${info}">
                    <p class="fg-green" data-th-text="${info}">Info</p>
                </div>
                <div class="box-content">
                        <form class="form-horizontal" data-th-action="@{/admin/ajouter-banque}" method="post"  data-th-object="${banque}">
                            <fieldset style="text-align:center">
                                <div class="control-group">
                                    <label class="control-label" for="nom">Nom<span class="text-danger">*</span> </label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="nom" data-th-field="*{nom}" >
                                        <span class="text-danger" data-th-errors="${banque.nom}"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="telephone">Telephone<span class="text-danger">*</span> </label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="telephone" data-th-field="*{telephone}" >
                                        <span class="text-danger" data-th-errors="${banque.telephone}"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="adresse">Addresse </label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="adresse" data-th-field="*{adresse}" >
                                        <span class="text-danger" data-th-errors="${banque.adresse}"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="fax">Fax </label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="fax" data-th-field="*{fax}" >
                                        <span class="text-danger" data-th-errors="${banque.fax}"></span>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                    <button type="reset" class="btn">Annuler</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                  </div>
               </div>
            <div class="box">
              <div class="box-header" data-original-title>
                  <h2><i class="halflings-icon building"></i><span class="break"></span>Liste des banques</h2>
                  <div class="box-icon">
                      <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                      <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                      <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                  </div>
              </div>
              	<div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Addresse</th>
                            <th>Telephone</th>
                            <th>Fax</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-each="banque, bStat : ${banques}">
                            <td data-th-text="${bStat.count}"></td>
                            <td data-th-text="${banque.nom}"></td>
                            <td data-th-text="${banque.adresse}"></td>
                            <td data-th-text="${banque.telephone}"></td>
                            <td data-th-text="${banque.fax}"></td>
                            <td>
                                <a data-th-href="@{/admin/consulter-banque/{id}(id = ${banque.getId()})}"
                                   title="Consulter le batiment" class="btn btn-small btn-primary">
                                    <i class="halflings-icon white folder-open"></i></a>
                                <a data-th-href="@{/admin/update-banque/{id}(id = ${banque.getId()})}" class="btn btn-small btn-success" title="Modifier la banque"><i class="halflings-icon white edit"></i></a>
                                <a data-th-href="@{/admin/delete-banque/{id}(id = ${banque.getId()})}" class="btn btn-small btn-danger" title="Supprimer la banque"><i class="halflings-icon white trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/span-->
        </div><!--/row-->

    </div>
    <!-- end: Content -->
</div>
</body>
</html>
