<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layouts/layout-admin}">
<head>
    <title data-th-text="${personnel.nom}"></title>
</head>
<body>
<div data-layout-fragment="content">
    <!-- start: Content -->
    <div id="content" class="span10">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a data-th-href="@{/admin/}">Administration</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a data-th-href="@{/admin/partenaire}">Personnel</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><span>Recapitulatif</span></li>
        </ul>
        <br><br><br>
        <div class="alert alert-info text-center" data-th-if="${info}">
            <p class="fg-green" data-th-text="${info}">Info</p>
        </div>
        <div class="row-fluid sortable">
            <div style="display:inline-block">
        <h2 align="center">RECAPITULATIF SUR LE PERSONNEL</h2><br><br>
        <table width="90%" style="margin-left:1%;">
            <tr>
                <td>
                    <img data-th-if="${personnel.photo}" class="avatar" width="250" data-th-src="'/admin/personnels/images?pid='+${personnel.id}" alt="..." src="">
                    <img data-th-unless="${personnel.photo}" class="avatar border-gray" data-th-src="'/assets/img/faces/user.png'" alt="..." src="">
<br><br>
                    <ul>
                        <li>Matricule : <b data-th-text="${personnel.matricule}"></b></li>
                        <li>Compte Bancaire : <b data-th-text="${personnel.compteBancaire}"></b></li>
                        <li>Numero CNPS : <b data-th-text="${personnel.numeroCNPS}"></b></li>
                        <li>Nom : <b data-th-text="${personnel.nom}"></b></li>
                        <li>Prénom : <b data-th-text="${personnel.prenom}"></b></li>
                        <li>Sexe : <b data-th-text="${personnel.sexe}"></b></li>
                        <li>Téléphone : <b data-th-text="${personnel.telephone_1}"></b></li>
                        <li>Téléphone 2: <b data-th-text="${personnel.telephone_2}"></b></li>
                        <li>Email : <b data-th-text="${personnel.email}"></b></li>
                        <li>Adresse : <b data-th-text="${personnel.adresse}"></b></li>
                        <li>Numéro CNI : <b data-th-text="${personnel.numero_cni}"></b></li>
                        <li>Date de naissance : <b data-th-text="${personnel.date_naissance}"></b></li>
                        <li>Addresse : <b data-th-text="${personnel.adresse}"></b></li>
                        <li>Situation Familiale : <b data-th-text="${personnel.situationFamiliale}"></b></li>
                    </ul>
                </td>
            </tr>
        </table><br>
                <h2 align="center">RECAPITULATIF SUR LE CONTRACT</h2>
                <table width="100%" style="margin-left:3%;">
                    <tr>
                        <td>
                            <ul>
                                <li>Date D'Embauche : <b data-th-text="${personnel.contrat.dateEmbauche}"></b></li>
                                <li>Frequence de Payement : <b data-th-text="${personnel.contrat.frequencePaie}"></b></li>
                                <li>Base de Payement : <b data-th-text="${personnel.contrat.basePaie}"></b></li>
                                <li>Mode de Reglement : <b data-th-text="${personnel.contrat.modeReglement}"></b></li>
                                <li>Salaire de Base : <b data-th-text="${personnel.contrat.salaireBase}+' FCFA'"></b></li>
                                <li>Poste : <b data-th-text="${personnel.contrat.profession.nom}"></b>
                                <ul>
                                    <li data-th-text="${personnel.contrat.profession.libeller}"></li>
                                </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <h2 align="center">Prime Fixe Accordé</h2>
                <table width="100%" style="margin-left:3%;">
                    <tr>
                        <td>
                            <ul>
                                <li data-th-each="primeFixe, uStat : ${personnel.getPrimesFixes()}" class="btn-primary">
                                    <div class="btn" style="max-width:300px;letter-spacing:0.2px;box-sixing:border-box;background:none;background-transparent;border-right:none;"><span data-th-text="${uStat.count} +'  '   "></span> |<span data-th-text="${primeFixe.nom}  "></span>   |   <span data-th-text="${primeFixe.type}"></span>   |   <span data-th-text="${primeFixe.valeur }+ ' FCFA'"></span>
                                    </div> <a href="#" data-th-href="@{'/admin/paies/addPrimeFixe/delete/'+${primeFixe.id}+'/'+${personnel.id} }" style="float:right" onclick="return confirm('Etes vous sure de vouloir Enlever cette prime?')" class="btn btn-danger"><i class="halflings-icon white trash"></i></a>
                                </li>
                            </ul>
                            <center><button class="btn btn-success" data-toggle="modal" data-target="#pfModal">Nouvelle prime</button></center>
                        </td>
                    </tr>
                </table>
        </div>
            <div class="span8">
                <h2>DONNEES PERSONNEL</h2>
                    <div class="row-fluid">
                        <div class="box span12">
                            <div class="box-header" data-original-title>
                                <h2>Enfants</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn-primary" data-toggle="modal" data-target="#enfantModal">Ajouter</a>
                                </div>
                            </div>
                            <div class="box-content">

                                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Sexe</th>
                                        <th>Date de naissance</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="enfant, uStat : ${personnel.getEnfants()}">
                                        <td data-th-text="${uStat.count}"></td>
                                        <td data-th-text="${enfant.nom}"></td>
                                        <td data-th-text="${enfant.prenom}"></td>
                                        <td>
                                            <span data-th-if="${enfant.sexe} == 'M'">Masculin</span>
                                            <span data-th-if="${enfant.sexe} == 'F'">Feminin</span>
                                        </td>
                                        <td data-th-text="${enfant.date_naissance}"></td>
                                        <td>
                                            <a href="#" data-th-href="@{'/admin/paies/enfants/delete/'+${enfant.id} }" style="float:right" onclick="return confirm('Etes vous sure de vouloir supprimer cette enfant?')" class="btn btn-small btn-danger"><i class="halflings-icon white trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--/span-->
                    </div><!--/row-->
                    <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2>Primes</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-primary" data-toggle="modal" data-target="#primeModal">Ajouter</a>
                        </div>
                    </div>
                    <div class="box-content">

                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Code</th>
                                <th> Valeur</th>
                                <th>Exoneree</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-th-each="prime, uStat : ${personnel.getPrimesVariables()}">
                                <td data-th-text="${uStat.count}"></td>
                                <td data-th-text="${prime.nom}"></td>
                                <td data-th-text="${prime.type}"></td>
                                <td data-th-text="${prime.code}"></td>
                                <td data-th-text="${prime.valeur}  + ' FCFA'"></td>
                                <td data-th-text="${prime.exoneree}"></td>
                                <td>
                                    <a href="#" data-th-href="@{'/admin/paies/primeVariable/delete/'+${prime.id} }" style="float:right" onclick="return confirm('Etes vous sure de vouloir supprimer cette Prime ?')" class="btn btn-small btn-danger"><i class="halflings-icon white trash"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--/span-->
            </div><!--/row-->
                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header" data-original-title>
                            <h2>Credits</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-primary" data-toggle="modal" data-target="#creditModal">Ajouter</a>
                            </div>
                        </div>
                        <div class="box-content">

                            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>valeur</th>
                                    <th>Retenue</th>
                                    <th>taux d'interêt</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="credit, uStat : ${personnel.getCredits()}">
                                    <td data-th-text="${uStat.count}"></td>
                                    <td data-th-text="${credit.valeur} + ' FCFA'"></td>
                                    <td data-th-text="${credit.retenue} + ' FCFA'"></td>
                                    <td data-th-text="${credit.tauxInteret} + ' %'"></td>
                                    <td>
                                        <a href="#" data-th-href="@{'/admin/paies/credit/delete/'+${credit.id} }" style="float:right" onclick="return confirm('Etes vous sure de vouloir supprimer ce Credit ?')" class="btn btn-small btn-danger"><i class="halflings-icon white trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header" data-original-title>
                            <h2>Avances</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-primary"  data-toggle="modal" data-target="#avanceModal">Ajouter</a>
                            </div>
                        </div>
                        <div class="box-content">

                            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Montant</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="avance, uStat : ${personnel.getAvances()}">
                                    <td data-th-text="${uStat.count}"></td>
                                    <td data-th-text="${avance.date}"></td>
                                    <td data-th-text="${avance.valeur} + ' FCFA'"></td>
                                    <td>
                                        <a href="#" data-th-href="@{'/admin/paies/avance/delete/'+${avance.id} }" style="float:right" onclick="return confirm('Etes vous sure de vouloir supprimer cet avance?')" class="btn btn-small btn-danger"><i class="halflings-icon white trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header" data-original-title>
                            <h2>Emprunts</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-primary" data-toggle="modal" data-target="#empruntModal">Ajouter</a>
                            </div>
                        </div>
                        <div class="box-content">

                            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>valeur</th>
                                    <th>Retenue Mensuel</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="pret, uStat : ${personnel.getPrets()}">
                                    <td data-th-text="${uStat.count}"></td>
                                    <td data-th-text="${pret.date}"></td>
                                    <td data-th-text="${pret.valeur} + ' FCFA'"></td>
                                    <td data-th-text="${pret.retenueMensuelle} + ' FCFA'"></td>
                                    <td>
                                        <a href="#" data-th-href="@{'/admin/paies/prets/delete/'+${pret.id} }" style="float:right" onclick="return confirm('Etes vous sure de vouloir supprimer ce Pret ?')" class="btn btn-small btn-danger"><i class="halflings-icon white trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header" data-original-title>
                            <h2>Congés</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-primary" data-toggle="modal" data-target="#congeModal">Ajouter</a>
                            </div>
                        </div>
                        <div class="box-content">

                            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>duree</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-th-each="conge, uStat : ${personnel.getConge()}">
                                    <td data-th-text="${uStat.count}"></td>
                                    <td data-th-text="${conge.typeConge.type}"></td>
                                    <td data-th-text="${conge.duree} + ' Jour(s)'"></td>
                                    <td data-th-text="${conge.description}"></td>
                                    <td>
                                        <a href="#" data-th-href="@{'/admin/paies/conge/delete/'+${conge.id} }" style="float:right" onclick="return confirm('Etes vous sure de vouloir supprimer ce congé ?')" class="btn btn-small btn-danger"><i class="halflings-icon white trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
            </div>
    </div>
    </div>
</div>
</body>
</html>
<div class="modal hide modal-lg fade" id="enfantModal">
    <form class="form-horizontal" data-th-action="@{/admin/paies/enfants/save}" method="post"  data-th-object="${enfant}">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Enregistré Un Enfant</h3>
	</div>
	<div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="nom">Nom<span class="text-danger">*</span> </label>
                    <div class="controls">
                        <input type="text" class="span4 typeahead" id="nom" data-th-field="*{nom}">
                        <input type="hidden" data-th-field="*{id}" data-th-value="${enfant.id}">
                        <span class="text-danger" data-th-errors="${enfant.nom}"></span>
                    </div>
                </div>

        <div class="control-group">
            <label class="control-label" for="prenom">Prénom<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="prenom" data-th-field="${enfant.prenom}">
                <span class="text-danger" data-th-errors="${enfant.prenom}"></span>
            </div>
        </div>

                <div class="control-group">
                    <label class="control-label" for="date">Date de naissance<span class="text-danger">*</span> </label>
                    <div class="controls">
                        <input type="text" class="span4 typeahead datepicker" id="date" data-th-field="${enfant.date_naissance}">
                        <span class="text-danger" data-th-errors="${enfant.date_naissance}"></span>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="sexe">Sexe<span class="text-danger">*</span> </label>
                    <div class="controls">
                        <select id="sexe" required data-rel="chosen" data-th-field="${enfant.sexe}" class="span3 typeahead">
                            <option data-th-value="M" selected>Masculin</option>
                            <option data-th-value="F">Feminin</option>
                            <option data-th-value="A">Autre</option>
                        </select>
                    </div>
                    <input type="hidden" name="personne" data-th-value="${personnel.id}">
                </div>
    </div>
	<div class="modal-footer">
		<a href="#" class="btn btn-danger" data-dismiss="modal">Annuler</a>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
	</div>
    </form>
</div>
<div class="modal hide fade" id="primeModal">
    <form class="form-horizontal" data-th-action="@{/admin/paies/primeVariable/save}" method="post"  data-th-object="${prime}">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Attribuer Une Prime</h3>
	</div>
	<div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="type">Nom<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="type" data-th-field="${prime.nom}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="typeNum">Type<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="typeNum" data-th-field="${prime.type}">
                <input type="hidden" data-th-field="${prime.id}" data-th-value="${prime.id}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="code">Code<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="code" data-th-field="${prime.code}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="valeur">Valeur<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="valeur" data-th-field="${prime.valeur}">
            </div>
            <input type="hidden" name="personnel" data-th-value="${personnel.id}">
        </div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
	</div>
    </form>
</div>
<div class="modal hide fade" id="creditModal">
    <form class="form-horizontal" data-th-action="@{/admin/paies/credit/save}" method="post"  data-th-object="${credit}">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Enregistrer un Credit</h3>
	</div>
	<div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="val">Valeur<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="val" data-th-field="${credit.valeur}">
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="retenue">Retenue<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="retenue" data-th-field="${credit.retenue}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="Taux interet">Taux D'interêt<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="Taux interet" data-th-field="${credit.tauxInteret}">
            </div>
            <input type="hidden" name="personnel" data-th-value="${personnel.id}">
        </div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-danger" data-dismiss="modal">Annuler</a>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
	</div>
    </form>
</div>
<div class="modal hide fade" id="avanceModal">
    <form class="form-horizontal" data-th-action="@{/admin/paies/avance/save}" method="post"  data-th-object="${avance}">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Enregistrez une Avance</h3>
	</div>
	<div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="dates">Date<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 datepicker" autocomplete="false"  id="dates" data-th-field="${avance.date}">
            </div>
            <input type="hidden" name="personnel" data-th-value="${personnel.id}">
        </div>
        <div class="control-group">
            <label class="control-label" for="value">Montant<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="number" class="span4 typeahead" id="value" data-th-field="${avance.valeur}">
            </div>
        </div>
	</div>
	<div class="modal-footer">
        <a href="#" class="btn btn-danger" data-dismiss="modal">Annuler</a>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
	</div>
    </form>
</div>
<div class="modal hide fade" id="empruntModal">
    <form class="form-horizontal" data-th-action="@{/admin/paies/prets/save}" method="post"  data-th-object="${prets}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Enregistrez un Emprunt</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="date_pret">Date<span class="text-danger">*</span> </label>
                <div class="controls">
                    <input type="text" class="span4 datepicker" autocomplete="false"  id="date_pret" data-th-field="${prets.date}">
                </div>
                <input type="hidden" name="personnel" data-th-value="${personnel.id}">
            </div>
            <div class="control-group">
                <label class="control-label" for="valeure">Montant<span class="text-danger">*</span> </label>
                <div class="controls">
                    <input type="number" class="span4 typeahead" autocomplete="false"  id="valeure" data-th-field="${prets.valeur}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="retenueMensuelle">Retenue Mensuel<span class="text-danger">*</span> </label>
                <div class="controls">
                    <input type="number" class="span4 typeahead" id="retenueMensuelle" data-th-field="${prets.retenueMensuelle}">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>
<div class="modal hide fade" id="congeModal">
    <form class="form-horizontal" data-th-action="@{/admin/paies/conges/save}" method="post"  data-th-object="${conge}">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Enregistrement Du Congés</h3>
	</div>
	<div class="modal-body">

        <div class="control-group">
            <label class="control-label" for="conges">Type de congé<span class="text-danger">*</span> </label>
            <div class="controls">
                <select data-rel="chosen" class="span3 typeahead"  id="conges" data-th-field="*{TypeConge}">
                                                <span data-th-each="tconge : ${typeConge}">
				                                    <option data-th-value="${tconge.id}" data-th-text="${tconge.type} "></option>
				                                </span>
                </select>
                <input type="hidden" name="personnel" data-th-value="${personnel.id}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="duree">Durée<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="number"  min="0"  required class="span4 typeahead" id="duree" data-th-field="*{duree}">
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="description">Description<span class="text-danger">*</span> </label>
            <div class="controls">
                <input type="text" class="span4 typeahead" id="description" data-th-field="*{description}">
            </div>
        </div>
	</div>
        <div class="modal-footer">
		<a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
	</div>
    </form>
</div>

<div class="modal hide fade" id="pfModal">
    <form class="form-horizontal" data-th-action="@{/admin/paies/addPrimeFixe/save}" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Attribuer une prime</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="primeFixe">Choisissez une Prime<span class="text-danger">*</span> </label>
                <div class="controls">
                    <select data-rel="chosen" class="span3 typeahead"  id="primeFixe" name="primeFixe">
                                                <span data-th-each="primeFixe : ${primesFixes}">
				                                    <option data-th-value="${primeFixe.id}" data-th-text="${primeFixe.nom} +' '+${primeFixe.valeur}+ ' FCFAgitpull' "></option>
				                                </span>
                    </select>
                    <input type="hidden" name="personnel" data-th-value="${personnel.id}">
                    <br><br><br><br>
                    <br><br>
                    <small>Une prime ne peut etre attribuer qu'une seul fois</small>
                    <br>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>