<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layouts/layout-admin}">
<head>
    <title>Formations</title>
</head>
<body>
<div data-layout-fragment="content">
    <!-- start: Content -->
    <div id="content" class="span10">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index.html" data-th-href="@{/admin/}">Administration</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#" data-th-href="@{/admin/formations/}">Formation</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><span href="#">Modification de la session de formation</span></li>
        </ul>
        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon edit"></i><span class="break"></span>Modifier la session de formation</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                    </div>
                </div>
                <div class="box-content" >
                    <form id="formation_form" class="form-horizontal"  data-th-action="@{/admin/update-formation}" method="post"  data-th-object="${formation}">
                        <fieldset>
                            <div class="offset3 box span5">
                                    <div class="control-group"><br><br>
                                        <label class="control-label" for="delai_dossiers">Delai de depots des dossiers dossiers<span class="text-danger">*</span> </label>
                                        <div class="controls">
	                                        <input type="text" class="span6 typeahead" id="delai_dossiers" data-th-field="*{delaiDossiers}" >
	                                    </div>
                                    </div>
                                <div class="control-group">
                                    <label class="control-label"  for="dateDebut">Date de début<span class="text-danger">*</span> </label>
                                    <div class="controls">
                                    <input type="text" class="span6 typeahead input-xlarge datepicker" id="dateDebut" data-th-field="*{dateDebut}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"  for="dateFin">Date de fin<span class="text-danger">*</span> </label>
                                    <div class="controls">
                                    <input type="text" class="span6 typeahead input-xlarge datepicker" id="dateFin" data-th-field="*{dateFin}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"  for="fraisInscriptions">Frais d'inscription pour la formation<span class="text-danger">*</span> </label>
                                    <div class="controls">
                                        <input type="text" class="span6 typeahead" id="fraisInscriptions" data-th-field="*{fraisInscription}" >
                                    </div>
                                </div>
                            <div class="form-actions">
                                <button type="submit" id="valid" class="btn btn-primary">Enregistrer</button>
                                <button type="reset" class="btn">Annuler</button>
                            </div>
                            </div>
                        </fieldset>


                    </form>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="clearfix"></div>
    </div>
    <!-- end: Content -->
</div>
<div data-layout-fragment="extra-js">
</div>
</body>
</html>