<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layouts/layout-admin}">
<head>
    <title>Accueil</title>
</head>
<body>
<div data-layout-fragment="content">

    <!-- start: Content -->
    <div id="content" class="span10">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a data-th-text="*{formation.dateFin}"></a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href="#">Accueil</a></li>
        </ul>
        
         <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon shopping-cart"></i><span class="break"></span>Gestion de L'apprenant</h2>
                </div>
                <div class="box-content">

                    <a class="quick-button-small span2" data-th-href="@{'/gestionnaire/stock-entre'}">
                        <i class="glyphicons-icon resize_small"></i>
                        <p>Inscrire à la séssions</p>
                        <span class="notification green"></span>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{'/gestionnaire/stock-sortie/'}">
                        <i class="glyphicons-icon resize_full"></i>
                        <p>Présences</p>
                        <span class="notification green"></span>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->


        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon book"></i><span class="break"></span>Gestion des Cours</h2>
                </div>
                <div class="box-content">

                    <a class="quick-button-small span2"data-th-href="@{/admin/cours/ajouter}">
                        <i class="glyphicons-icon download_alt"></i>
                        <p>Entrer un cours</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/cours/consulter}">
                        <i class="glyphicons-icon folder_open"></i>
                        <p>Consulter les cours</p>
                        <span class="notification blue"> </span>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/cours/bilan}">
                        <i class="glyphicons-icon charts"></i>
                        <p>Bilan des cours</p>
                        <span class="notification green"> </span>
                    </a>
                    
                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon hand-down"></i><span class="break"></span>Gestion des evaluations</h2>
                </div>
                <div class="box-content">

                    <a class="quick-button-small span2" data-th-href="@{/admin/evaluation/ajouter}">
                        <i class="glyphicons-icon database_minus"></i>
                        <p>Entrer une évaluation</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/evaluation/consulter}">
                        <i class="glyphicons-icon database_ban"></i>
                        <p>Consulter les évaluations</p>
                        <span class="notification blue"> </span>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/evaluation/bilan}">
                        <i class="glyphicons-icon database_lock"></i>
                        <p>Bilan des évaluations</p>
                        <span class="notification green"> </span>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon refresh"></i><span class="break"></span>Statistiques</h2>
                </div>
                <div class="box-content">
                    <a class="quick-button-small span2" data-th-href="@{/admin/rapport}">
                        <i class="glyphicons-icon wallet"></i>
                        <p>Rapport de la session de formation</p>
                        <span class="notification green"></span>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
	</div>
    <!-- end: Content -->
</div>
</body>
</html>