<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layouts/layout-admin}">
<head>
    <title>Administration</title>
</head>
<body>
<div data-layout-fragment="content">

    <!-- start: Content -->
    <div id="content" class="span10">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="">Administration</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a>Accueil</a></li>
        </ul>

        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon cogs"></i><span class="break"></span>Configurations</h2>
                </div>
                <div class="box-content">

                    <a class="quick-button-small span2" data-th-href="@{/admin/banques}">
                        <i class="icon-building"></i>
                        <p>Banque</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/personnels}">
                        <i class="icon-sitemap"></i>
                        <p>Personnels</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/apprenants}">
                        <i class="icon-group"></i>
                        <p>Apprenants</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/users}">
                        <i class="icon-user"></i>
                        <p>Utilisateurs</p>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        
        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon user"></i><span class="break"></span>Partenaires</h2>
                </div>
                <div class="box-content">

                    <a class="quick-button-small span2" data-th-href="@{/admin/banques}">
                        <i class="icon-building"></i>
                        <p>Banque</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/personnels}">
                        <i class="icon-sitemap"></i>
                        <p>Personnels</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/apprenants}">
                        <i class="icon-group"></i>
                        <p>Apprenants</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/users}">
                        <i class="icon-user"></i>
                        <p>Utilisateurs</p>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->


        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon shopping-cart"></i><span class="break"></span>Gestion</h2>
                </div>
                <div class="box-content">

                    <a class="quick-button-small span2" data-th-href="@{/admin/formations}">
                        <i class="icon-briefcase"></i>
                        <p>Formations</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/partenaire}">
                        <i class="icon-globe"></i>
                        <p>Fournisseurs</p>
                    </a>

                    <a class="quick-button-small span2" data-th-href="@{/admin/paie}">
                        <i class="icon-calendar"></i>
                        <p>Paie</p>
                    </a>

                    <a class="quick-button-small span2" data-th-href="@{/admin/partenaires/rendez-vous}">
                        <i class="icon-retweet"></i>
                        <p>Rendez-vous</p>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->

    </div>
    <!-- end: Content -->
</div>
</body>
</html>