<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layouts/layout-admin}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Administration</title>
</head>
<body>
<div data-layout-fragment="content">

    <!-- start: Content -->
    <div id="content" class="span10">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="">Administration</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a>Accueil</a></li>
        </ul>

        <div class="row-fluid" sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon cogs"></i><span class="break"></span>Configurations</h2>
                </div>
                <div class="box-content">
                    <a class="quick-button-small span2" data-th-href="@{/admin/banques}">
                        <i class="glyphicons-icon coins "></i>
                        <p>Banque</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/paies/cnps}">
                        <i class="glyphicons-icon pie_chart"></i>
                        <p>CNPS</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/personnels}">
                        <i class="glyphicons-icon parents"></i>
                        <p>Personnels</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/apprenants}">
                        <i class="glyphicons-icon adress_book"></i>
                        <p>Apprenants</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/users}">
                        <i class="glyphicons-icon user"></i>
                        <p>Utilisateurs</p>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->


        <div class="row-fluid">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon shopping-cart"></i><span class="break"></span>Gestions</h2>
                </div>
                <div class="box-content">

                    <a class="quick-button-small span2" data-th-href="@{/admin/formations}">
                        <i class="glyphicons-icon vcard"></i>
                        <p>Formations</p>
                    </a>
                    <a class="quick-button-small span2" data-th-href="@{/admin/partenaire}" sec:authorize="hasAnyRole('ADMIN','PERSONNEL','RH')">
                        <i class="glyphicons-icon old_man"></i>
                        <p>Partenaires</p>
                    </a>

                    <a class="quick-button-small span2" data-th-href="@{/admin/paie}" sec:authorize="hasAnyRole('ADMIN','COMPTABLE','RH')">
                        <i class="glyphicons-icon wallet"></i>
                        <p>Paie</p>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div><!--/span-->
        </div><!--/row-->

    </div>
    <!-- end: Content -->
</div>
</body>
</html>